  .card {
      margin-bottom: 1rem;
      width: 50%;
  }

  .correct-style {
    color: green;
  }

  .wrong-style {
    color: red;
  }

 .redirect-btn {
    background: #673ab7;
    color: white;
  }